<div class="reminder-row">
    <%= link_to reminder_path(reminder, {reminder: {contacted: !reminder.contacted}}), data: {"turbo-method": :patch} do %>
        <% if reminder.contacted? %>
            <i class="fa-solid fa-circle-check"></i>
        <% else %>
            <i class="fa-solid fa-clock"></i>
        <% end %>
        <% if display_name %>
            <% reminder.contacts.each do |contact| %>
                <%= contact.full_name %>
            <% end %>
        <% else %>
            <%= time_distance(Date.today, reminder.target_date) %>
        <% end %>
    <% end %>
</div>