<div class="new-reminder-form form-container">
    <% if @pre_selected_contact_id %>
        <h1>Reminder for <br>
        <%= current_user.contacts.find(@pre_selected_contact_id).full_name %></h1>
    <% else %>
        <h1>New Reminder</h1>
    <% end %>
    <%= render "form", reminder: @reminder, contact_reminder: @contact_reminder, pre_selected_contact_id: @pre_selected_contact_id %>
</div>