<div class="group-wrapper">
    <% @group.contacts.each do |contact| %>
        <%= render "contacts/contact", contact: contact, display_group: false %>
    <% end %>
</div>

<style>
.group-wrapper {
    background: white;
    padding: 2rem;
    border-radius: 1rem;
}
</style>