<div class="contacts-wrapper wrapper" data-controller="contacts-filter">
    <div class="top-tabs">
        <div class="day active tab"
            data-tab="allContacts" 
            data-contacts-filter-target="allContacts" 
            data-action="click->contacts-filter#showContacts">
            ALL CONTACTS
        </div>
        <div class="upcoming tab" 
            data-tab="filter" 
            data-contacts-filter-target="filter" 
            data-action="click->contacts-filter#showFilters">
            FILTER
        </div>
    </div>
    <div class="tab-content hidden" data-contacts-filter-target="filters">
        <div class="search-contacts">
            <input type="text"
                class="search-input"
                data-contacts-filter-target="contactSearch" 
                data-action="input->contacts-filter#search"
                placeholder="Search your contacts, groups and tags">
        </div>
    </div>
    <div class="contacts" data-contacts-filter-target="allContacts">
        <% @contacts.each do |contact| %>
            <%= render "contact", contact: contact, display_group: true; %>
        <% end %>
        <div class="empty-search hidden" data-contacts-filter-target="emptySearch">
            Couldnt Find Anything
        </div>
        <div class="contact-card-placeholder">
        </div>
    </div>
</div>

<style>
.transition-out-style {
    opacity: 0;
    height: 0px;
}
.transition-in-style {
    opacity: 1;
    height: 64px;
}
.search-contacts {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 64px;
}
.search-input {
    width: 100%;
    margin: 0 2rem;
    background: white;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #cfd0d2;
}
.search-input:focus {
    border-color: #cfd0d2;
    background: white;
    box-shadow: 0px 2px #cfd0d2;
}
.search-input:focus-visible {
    outline: none;
}
</style>