<div class="contacts-wrapper wrapper" data-controller="contacts-filter">
    <div class="top-tabs">
        <div class="day active tab"
            data-tab="allContacts" 
            data-contacts-filter-target="allContacts" 
            data-action="click->contacts-filter#showContacts">
            ALL CONTACTS
        </div>
        <div class="upcoming tab" 
            data-tab="filter" 
            data-contacts-filter-target="filter" 
            data-action="click->contacts-filter#showFilters">
            FILTER
        </div>
    </div>
    <div class="tab-content hidden" data-contacts-filter-target="filters">
        <div class="search-contacts">
            <input type="text"
                class="search-input"
                data-contacts-filter-target="contactSearch" 
                data-action="input->contacts-filter#search"
                placeholder="Search your contacts, groups and tags">
        </div>
    </div>
    <div class="contacts" data-contacts-filter-target="allContacts">
        <% @contacts.each do |contact| %>
            <%= render "contact", contact: contact, display_group: true; %>
        <% end %>
        <div class="empty-search hidden" data-contacts-filter-target="emptySearch">
            Couldnt Find Anything
        </div>
        <div class="contact-card-placeholder">
        </div>
    </div>
</div>
