.group-link {
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
    &:hover {
        opacity: 1;
    }
}

.text-link {
    text-decoration: underline;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
    &:hover {
        opacity: 1;
    }
}
.reminder-contacted {
    display: flex;
    align-items: center;
    .reminder-date-future {
        margin-left: 4px;
    }
    .reminder-date-past {
        margin-left: 4px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .fa-solid.fa-clock {
        color: white;
    }
}

.reminder-container {
    .reminder {
        margin-bottom: 1px;
    }
    margin: 16px 0;
    .time-periods {
        display: flex;
        flex-wrap: wrap;
        .time-period {
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            border-top-left-radius: $border-radius-xs;
            border-top-right-radius: $border-radius-xs;
            background: white;
            min-height: 33vh;
            .time-period-name {
                border-top-left-radius: $border-radius-xs;
                border-top-right-radius: $border-radius-xs;
                color: black;
                box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
                width: 100%;
                padding: $padding-md 16px;
                font-size: $font-h2;
            }
            .time-period-reminder {
                padding: $padding-md;
                display: flex;
                font-size: $font-size-md;
                .reminder-take-action {
                    width: 100%;
                    font-size: $font-size-md;
                    .cleanup-contacts-take-action,
                    .contact-take-action {
                        margin-bottom: 8px;
                    }
                }
                .time-period-reminders-details {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                }
            }
        }
    }
    .last-seven-days {
        margin: 4px;
        width: calc(30% - 8px);
    }
    .today {
        margin: 4px;
        width: calc(40% - 8px);
    }
    .take-action {
        margin: 4px;
        width: calc(30% - 8px);
    }
    .next-seven-days,
    .next-thirty-days {
        margin: 4px;
        width: calc(50% - 8px);
    }
    @media (max-width: 1000px) {
        .reminder-contacted {
            width: fit-content;
        }
        .last-seven-days,
        .today,
        .take-action,
        .next-seven-days,
        .next-thirty-days {
            margin: 4px;
            width: calc(50% - 8px);
        }
    }
    @media (max-width: 500px) {
        .reminder-contacted {
            width: fit-content;
        }
        .last-seven-days,
        .today,
        .take-action,
        .next-seven-days,
        .next-thirty-days {
            margin: 4px;
            width: calc(100% - 8px);
        }
    }
}