.actions {
    margin-bottom: 16px;
}
@media (max-width: 800px) {
    .actions {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
} 

.contacts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    overflow: hidden;
    width: 100%;
    .top-level-details {
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 4px;
    }
    .contact-card,
    .contact-card-placeholder {
        width: calc(100% - 8px);
    }
    @media (max-width: 800px) {
        .contact-card,
        .contact-card-placeholder {
            width: calc(100% - 8px);
        }
    }
    .contact-card {
        display:flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px;
        height: 64px;
        border-bottom: 1px solid $off-grey;
        transition: all 0.3s ease-in-out;
        .contact-card-top {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
        }
        .contact-card-bottom {
            .tags {
                display: flex;
            }
        }
        &:hover {
            background: $light-gray;
        }
    }
    .contact-card.last-row {
         border-bottom: none;
    }
}