
.contact-card,
.contact-card-placeholder {
    width: calc(100% - 8px);
}
@media (max-width: 800px) {
    .contact-card,
    .contact-card-placeholder {
        width: calc(100% - 8px);
    }
}
.empty-search,
.contact-card {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    height: 64px;
    border-bottom: 1px solid $off-grey;
    transition: all 0.3s ease-in-out;
    .actions {
        margin-bottom: 16px;
    }
    @media (max-width: 800px) {
        .actions {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    } 
    .contact-card-top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    .contact-card-bottom {
        .tags {
            display: flex;
        }
    }
    &:hover {
        background: $light-gray;
    }
}
.contact-card.last-row {
        border-bottom: none;
}