.contact-profile {
    .back-link {
        margin-bottom: 16px;
        height: 32px;
        width: 32px;
    }
    .links {
        display: flex;
        justify-content: space-around;
        text-align: center;
        gap: 4px;
        .reminder-link,
        .delete-link,
        .edit-link {
            width: 64px;
        }
    }
}