.contact-profile-notes {
    .notes {
        margin-bottom: 16px;
        .note {
            justify-content: space-between;
            display: flex;
            align-items: center;
            min-height: 64px;
            border-bottom: 1px solid $off-grey;
            .note-timestamp-and-content {
                display: flex;
                align-items: center;
            }
            .note-timestamp {
                width: 120px;
            }
            .note-content {
                padding-left: 8px;
            }
            .note-delete {
                text-align: center;
                width: 64px;
            }
        }
    }
}