.center-container {
    width:100%;
}

.left-sidebar,
.right-sidebar {
    width: 20vw;
}
.mobile-navbar {
    display: none;
}
.app-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 2rem 1rem;
    background-color: rgb(249, 248, 249);
    gap: 1rem;
}

@media (max-width: 800px) {
    .app-container {
        display: block;
        padding: 0.1rem;
    }
    .center-container {
        width:100%;
    }
    
    .left-sidebar,
    .right-sidebar {
        display: none;
    }
    .mobile-navbar {
        display: block;
    }
}