.right-side-bar,
.left-side-bar {
    height: 100vh;
    overflow: auto;
}

.right-sidebar,
.left-sidebar {
    i {
        margin-right: 1rem;
        color: rgb(199, 199, 199);
    }
    .user-profile,
    .sidebar-brand {
        font-weight: bolder;
        width: 100%;
        display: block;
        margin-bottom: 4rem;
    }
    .sidebar-link {
        height: 48px;
        display: block;
        &.active {
            color: #2ea44f;
            i {
                color: #2ea44f !important;
            }
        }
    }
    .groups {
        display: flex;
        flex-direction: column;
        gap: 2px;
        .group {
            border: 1px solid;
        }
    }
}
