
.nav-tabs {
    margin: 16px 0;
    .nav-link {
        color: $text-color;
    }
    &.mobile {
        display: none !important;
    }
}
@media (max-width: 500px) {
    .nav.nav-tabs.mobile {
        display: flex !important;
    }
    .nav.nav-tabs.desktop {
        display: none !important;
    }
}