.sticky {
    position: sticky;
    top: 0;
}
.transition-out-style {
    opacity: 0;
    height: 0px;
}
.transition-in-style {
    opacity: 1;
    height: 64px;
}
.font-italic {
    font-style: italic;
}
.hidden { 
    display: none !important;
}
.mini-font {
    font-size: 10px;
}
