<%= simple_form_for [contact, group_contact] do |f| %>
    <div class="group-contact-form d-flex">
        <%= f.association :group, collection: current_user.groups, label: false %>
        <%= button_tag type: 'submit', class: "button-secondary button-connect-left" do %>
            <i class="fa-solid fa-check"></i>
        <% end %>
    </div>
<% end %>

<style>
.group-contact-form .form-select {

    border-top-left-radius: 6px !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 6px !important;
    border-bottom-right-radius: 0 !important;
}
.select {
    line-height: 20px;
    background: white;
    background-image: none !important;
    margin: 0 !important;
}
</style>

