<%= simple_form_for [contact, group_contact], html: {novalidate: true, class: "no-bs-validation"} do |f| %>
    <div class="group-contact-form d-flex">
        <%= f.association :group, collection: current_user.groups, label: false %>
        <div class="small-3 columns">
            <%= button_tag type: 'submit', class: "button-secondary" do %>
                <i class="fa-solid fa-check"></i>
            <% end %>
        </div>
    </div>
<% end %>

<style>
.fa-check {
    color: grey;
}
.select {
    line-height: 20px;
    background: white;
    background-image: none !important;
    margin: 0 !important;
}
</style>

