// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/pixel_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "flatpickr/dist/themes/airbnb";
@import "trix/dist/trix";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "reminders/index";
@import "contacts/index";
@import "notes/index";

.mini-font {
    font-size: 10px;
}

.font-italic {
    font-style: italic
}

a {
    text-decoration: none;
    color: inherit;
    &:hover {
        color: inherit;
    }
}

.wrapper {
    width: 100%;
    gap: 1rem;
    border-radius: 1rem;
}
.contacts-wrapper,
.reminders-wrapper {
    padding-bottom: 3rem;
    display: flex;
    min-height: calc(100vh - 4rem);
}
.contact-profile-wrapper {
    min-height: calc(100vh - 106px);
    background: white;
    padding: 2rem;
    border-radius: 1rem;
}
.hidden { 
    display: none;
}
