// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/pixel_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "flatpickr/dist/themes/airbnb";
@import "trix/dist/trix";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "reminders/index";
@import "contacts/index";
@import "notes/index";

.app-container {
    margin: 1rem;
    color: $text-color;
}
@media (max-width: 800px) {
    .app-container {
        margin: 4px;
        padding-top: 4px;
    }
}

.mini-font {
    font-size: 10px;
}

.font-italic {
    font-style: italic
}

a {
    text-decoration: none;
    color: inherit;
    &:hover {
        color: inherit;
    }
}